<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://x.com/moneyhungry870"><i class="fa-brands fa-square-x-twitter"></i></i></a>
            <a href=""><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/piyushkumar870/"><i class="fa-brands fa-linkedin" id="color-hover"></i></a>
        </div>
        <div class="f-info-brand">&copy; StayFinder Private Limited</div>
        <div class="f-info-links">
            <a href="#">Privacy</a>
            <a href="#" style="margin-left: 5px;">Terms</a>
        </div>
    </div>
</footer>