<% layout ("/layouts/boilerplate") %>
<div class="row mt-3">
  <div class="col-8 offset-2 mt-5">
    <h3>Create a new listing here</h3>
    <form
      action="/listings"
      method="post"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-lable">Title</label>
        <input
          type="text"
          placeholder="Enter title"
          name="listing[title]"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please provide a valid Title.</div>
      </div>
      <div class="mb-3">
        <label for="image" class="form-lable">Upload Image</label>
        <input
          type="file"
          name="listing[image]"
          class="form-control"
          required
        />
      </div>
      <div class="mb-3">
        <label for="description" class="form-lable">Description and Contact: </label>
        <textarea
          name="listing[description]"
          placeholder="Enter description"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Please provide a valid Description.</div>
      </div>
      <div class="mb-3">
        <label for="price" class="form-lable">Price</label>
        <input
          type="number"
          placeholder="Enter price"
          name="listing[price]"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please provide a valid Price.</div>
      </div>


      <!-- <div class="mb-3">
        <label for="price" class="form-lable">Contact</label>
        <input
          type="number"
          placeholder="Enter price"
          name="listing[phoneNumber]"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please provide a valid Contact info.</div>
      </div> -->


      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="location" class="form-lable">Location</label>
          <input
            type="text"
            placeholder="Enter location"
            name="listing[location]"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please provide a valid Location.</div>
        </div>
        <div class="mb-3 col-md-8">
          <label for="country" class="form-lable">Country</label>
          <input
            type="text"
            placeholder="Enter country"
            name="listing[country]"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please provide a valid Country.</div>
        </div>
      </div>

      <button
        class="btn btn-dark"
        style="background-color: #fe424d; border: none"
      >
        Add
      </button>
    </form>
  </div>
</div>
